* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9AAFD9;
}

header {
    height: 100%;
    background-color: #657BA6;
}

header h1 {
    text-align: center;
    color: #5D0013;
    text-shadow: 3px 3px 5px #3f0712;
    font-family: "Boldonse", sans-serif;
    font-weight: 400;
    font-size: 15rem;
    width: 100%;
    height: 100%;
    top: 0;
}

nav {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    height: 50px;
}

nav li {
    list-style-type: none;
    line-height: 50px;
    
}
nav a {
    color: #621503;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    color: #9A1B14;
}

main {
    width: 80%;
    margin: 0px auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #16365C;
}

p {
    color: #5D2D05;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    padding: 80px 2px 2px 2px;
}


img {
    width: 25%;
}

footer {
    clear: both;
    width: 100%;
    height: 200px;
    background-color: black;
}

.img1 {
    float: left;
}

.texto1 {
    clear: both;
    width: 70%;
    float: left;
}

.img2 {
    float: right;
}

.texto2 {
    clear: both;
    width: 70%;
}

p.footer {
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;

}